<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 상세보기</title>
</head>
<body>
<div layout:fragment="contents">

    <div class="">
        <div class="">

            <div class="">
                <h1>게시글 제목 : </h1>
                <h1 th:text="${article.title}"></h1>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>게시글 번호</th>
                        <th>게시글 제목</th>
                        <th>게시글 내용</th>
                        <th>게시글 작성자</th>
                        <th>게시글 작성일</th>
                        <th>게시글 수정일</th>
                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td>
                            <span th:text="${article.id}"></span>
                        </td>
                        <td>
                            <span th:text="${article.title}"></span>
                        </td>
                        <td>
                            <span th:text="${article.body}"></span>
                        </td>
                        <td>
                            <span th:text="${article.nickname}"></span>
                        </td>
                        <td>
                            <span th:text="${#temporals.format(article.regDate, 'yyyy-MM-dd')}"></span>
                        </td>
                        <td>
                            <span th:text="${#temporals.format(article.updateDate, 'yyyy-MM-dd')}"></span>
                        </td>
                        <td>
                            <div class="">
                                <a th:href="@{~/articles/modify/} + ${article.id}">
                                    <span>수정</span>
                                </a>
                            </div>
                            <div class="">
                                <a th:href="@{~/articles/delete/} + ${article.id}">
                                    <span>삭제</span>
                                </a>
                            </div>
                        </td>
                    </tr>
                </tbody>


            </table>

        </div>
    </div>
</div>
</body>
</html>