<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트</title>
</head>
<body>
<div layout:fragment="contents">
    <div class="">
        <div class="">

            <h1>게시글 리스트</h1>

            <table>

                <thead>
                    <tr>
                        <th>게시글 제목</th>
                        <th>게시글 작성자</th>
                        <th>게시글 작성일</th>
                    </tr>
                </thead>

                <tbody>
                    <tr th:each="article : ${articles}">
                        <td>
                            <a th:href="@{~/articles/} + ${article.id}">
                                <span th:text="${article.title}"></span>
                            </a>
                        </td>
                        <td>
                            <span th:text="${article.nickname}"></span>
                        </td>
                        <td>
                            <span th:text="${#temporals.format(article.regDate, 'yyyy-MM-dd')}"></span>
                        </td>
                    </tr>

                </tbody>

            </table>

        </div>
    </div>
</div>
</body>
</html>