<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 리스트</title>
</head>
<body>
<div layout:fragment="contents">
    <div class="">
        <div class="">

            <h1 class="mt-7 text-2xl font-bold flex justify-center">전체 게시글 리스트</h1>

            <div class="flex justify-center mt-12">

                <div class="w-9/12 p-4">

                    <div class="flex flex-col px-10" >


                        <ul class="p-4 w-full border border-1" >
                            <li class="p-4 w-full border border-b" th:each="article : ${articles}">
                                <a th:href="@{~/articles/} + ${article.id}">
                                    <div class="flex flex-col justify-start items-start">
                                        <div th:text="${article.title}">
                                            title
                                        </div>
                                        <div>
                                    <span class="" th:text="${article.category}">
                                        category
                                    </span>
                                            <span class="mx-4" th:text="${article.nickname}">
                                        nickname
                                    </span>
                                            <span class="mx-4" th:text="${#temporals.format(article.regDate, 'yyyy-MM-dd hh:mm')}">
                                        regDate
                                    </span>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>



                    </div>

                </div>

            </div>



        </div>
    </div>
</div>


</body>
</html>