<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>게시글 작성</title>
</head>
<body>
<div layout:fragment="contents">
    <div class="">
        <div class="flex flex-col">

            <h1 class="flex justify-center text-xl mt-10 font-bold">게시글 작성</h1>

            <div class="flex justify-center mt-7">
                <form th:action="@{~/articles/write}" th:object="${articleSaveForm}" method="post" class="w-9/12">

                    <select class="select select-bordered w-full max-w-xs mb-4" name="categoryId" required>
                        <th:block th:each="category : ${categoryList}">
                            <option th:value="${category.id}" th:text="${category.name}"></option>
                        </th:block>
                    </select>

                    <div class="flex flex-col mb-4 w-3/12">
                        <span>제목</span>
                        <input class="border border-2 rounded-md p-2" type="text" name="title" placeholder="제목을 입력해 주세요." th:field="*{title}" th:errorclass="field-error">
                        <span th:errors="*{title}"></span>
                    </div>

                    <div class="flex form-control mb-4">
                        <span>내용</span>
                        <textarea class="textarea textarea-bordered h-60" name="body" placeholder="내용을 입력해 주세요." th:field="*{body}" th:errorclass="field-error"></textarea>
                        <span th:errors="*{body}"></span>
                    </div>

                    <div class="flex justify-center mt-12">
                        <button class="btn btn-ghost">작성</button>
                        <a href="/">
                            <button class="btn btn-ghost mx-4" type="button">취소</button>
                        </a>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
</body>
</html>