<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header th:fragment="general-header">


    <div class="common-header navbar bg-base-100">
        <div class="flex-1 ml-14">
            <a href="/" class="btn btn-ghost normal-case text-xl">LBLOG</a>
        </div>
        <div class="flex-none">
            <ul class="menu menu-horizontal p-0 mr-14">
                <li sec:authorize="isAnonymous()">
                    <a th:href="@{~/members/join}">회원가입</a>
                    <a th:href="@{~/members/login}">로그인</a>
                </li>
                <li class="header-menu" tabindex="0" sec:authorize="isAuthenticated()">
                    <a sec:authentication="principal.username">
                        Parent
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z"/></svg>
                    </a>
                    <ul class="p-2 bg-base-100">
                        <li>
                            <a th:href="@{~/b/} + ${#authentication.name}">블로그</a>
                        </li>
                        <li>
                            <a th:href="@{~/articles/write}">게시글 작성</a>
                        </li>
                        <li>
                            <a th:href="@{~/members/modify/} + ${#authentication.name}">회원정보 수정</a>
                        </li>
                        <li>
                            <a th:href="@{~/members/logout}">로그아웃</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

</header>
</html>