<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<aside th:fragment="blog-side-nav">
    <ul class="menu bg-base-100 w-56 p-2 rounded-box" th:if="${info.categoryDTOList.size() != 0}">
        <li class="menu-title">
            <span>Category</span>
        </li>
        <li th:each="category : ${info.categoryDTOList}">
            <a th:text="|${category.name}(${category.articleAmount})|" th:href="@{~/b/} + ${loginId} + @{?category=} + ${category.name}">Item 1</a>
        </li>
    </ul>
    <ul class="menu bg-base-100 w-56 p-2 rounded-box" th:unless="${info.categoryDTOList.size() != 0}">
        <li class="menu-title">
            <span>Category</span>
        </li>
        <li>
            <a>카테고리가 아직 없습니다.</a>
        </li>
    </ul>
</aside>
</html>