<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="contents">

    <div class="">
        <div class="">
            <h1 class="mt-7 text-2xl font-bold flex justify-center">전체 카테고리 리스트</h1>
            <div class="flex justify-center mt-12">
                <div class="w-9/12 p-4">
                    <div class="flex px-10" >
                        <div class="p-4 w-full border border-1" >
                            <div class="flex flex-row p-4 w-full border border-b hover:bg-gray-200" th:each="category : ${categoryList}">
                                <div class="mx-4 flex justify-center">
                                    <a th:href="@{~/categories/} + ${category.id}" class="flex items-center">
                                        <div class="text-xl font-bold" th:text="${category.name}"></div>
                                    </a>
                                </div>
                                <div class="flex flex-grow"></div>
                                <div class="flex flex-row pr-6" >
                                    <div class="">
                                        <a th:href="@{~/categories/modify/} + ${category.id}">
                                            <button class="btn btn-ghost">수정</button>
                                        </a>
                                    </div>
                                    <div class="">
                                        <a th:href="@{~/categories/delete/} + ${category.id}">
                                            <button class="btn btn-ghost">삭제</button>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>