<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div layout:fragment="contents">

    <div class="">
        <div class="">
            <form th:action="@{~/categories/modify/}+${id}" th:object="${categoryModifyForm}" method="post">
                <div class="">
                    <span>카테고리 이름</span>
                    <input type="text" name="name" th:field="*{name}" th:errorclass="field-error">
                    <span th:errors="*{name}">error!</span>
                </div>

                <div class="">
                    <button>확인</button>
                    <a href="/">
                        <button>취소</button>
                    </a>
                </div>

            </form>
        </div>
    </div>

</div>

</body>
</html>