@font-face {
    font-family: 'Eulyoo1945-SemiBold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2102-01@1.0/Eulyoo1945-SemiBold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'paybooc-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-07@1.0/paybooc-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'paybooc-Bold';
}

.contents-body{
    	min-height: 80vh;
}

.common-header {
    background-color: #F9F3EE;
}

.error-msg{
    color: red;
}

.img-box{
    position:relative;
}

.T-img{
    position:absolute;
    visibility:hidden;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.B-img{
    vertical-align: middle;
}

.img-box:hover {
  opacity:0.7;
 }

.img-box:hover .T-img {
   visibility:visible;
 }

 .header-menu{
    z-index: 1;
 }

.member-bg{
    background-color: #F9F3EE;
}
