<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="contents">
    <div class="">
        <div class="flex flex-col">

            <h1 class="flex justify-center text-xl mt-10 font-bold">YBLOG</h1>

            <div class="flex justify-center mt-7">

                <form th:action="@{~/members/join}" th:object="${memberSaveForm}" method="post" class="member-bg border-2 rounded-md p-10 shadow-lg">

                    <h1 class="flex text-xl mt-2 mb-2 justify-center">회원가입</h1>

                    <div class="flex flex-col mb-2">
                        <span>아이디</span>
                        <input class="border border-2 rounded-md p-2" type="text" name="loginId" placeholder="아이디를 입력해 주세요." th:field="*{loginId}" th:errorclass="field-error">
                        <span class="error-msg" th:errors="*{loginId}">error!</span>
                    </div>

                    <div class="flex flex-col mb-2">
                        <span>비밀번호</span>
                        <input class="border border-2 rounded-md p-2" type="password" name="loginPw" placeholder="비밀번호를 입력해 주세요." th:field="*{loginPw}" th:errorclass="field-error">
                        <span class="error-msg" th:errors="*{loginPw}"></span>
                    </div>

                    <div class="flex flex-col mb-2">
                        <span>이름</span>
                        <input class="border border-2 rounded-md p-2" type="text" name="name" placeholder="이름을 입력해 주세요." th:fiels="*{name}" th:errorclass="field-error">
                        <span class="error-msg" th:errors="*{name}"></span>
                    </div>

                    <div class="flex flex-col mb-2">
                        <span>닉네임</span>
                        <input class="border border-2 rounded-md p-2" type="text" name="nickname" placeholder="닉네임을 입력해 주세요." th:field="*{nickname}" th:errorclass="field-error">
                        <span class="error-msg" th:errors="*{nickname}"></span>
                    </div>

                    <div class="flex flex-col mb-2">
                        <span>이메일</span>
                        <input class="border border-2 rounded-md p-2" type="email" name="email" placeholder="이메일을 입력해 주세요." th:field="*{email}" th:errorclass="field-error">
                        <span class="error-msg" th:errors="*{email}"></span>
                    </div>

                    <div class="flex justify-center mt-6">
                        <button class="btn btn-ghost">회원가입</button>
                        <a href="/">
                            <button type="button" class="btn btn-ghost">취소</button>
                        </a>
                    </div>

                </form>

            </div>


        </div>
    </div>
</div>
</body>
</html>