<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
</head>
<body>
<div layout:fragment="contents">
    <div class="">
        <div class="">

            <h1>회원가입</h1>

            <form th:action="@{~/members/join}" th:object="${memberSaveForm}" method="post">

                <div class="">
                    <span>아이디</span>
                    <input type="text" placeholder="아이디를 입력해 주세요." th:field="*{loginId}" th:errorclass="field-error">
                    <span th:errors="*{loginId}">error!</span>
                </div>

                <div class="">
                    <span>비밀번호</span>
                    <input type="password" placeholder="비밀번호를 입력해 주세요." th:field="*{loginPw}" th:errorclass="field-error">
                    <span th:errors="*{loginPw}">error!</span>
                </div>

                <div class="">
                    <span>이름</span>
                    <input type="text" placeholder="이름을 입력해 주세요." th:field="*{name}" th:errorclass="field-error">
                    <span th:errors="*{name}">error!</span>
                </div>

                <div class="">
                    <span>닉네임</span>
                    <input type="text" placeholder="닉네임을 입력해 주세요." th:field="*{nickname}" th:errorclass="field-error">
                    <span th:errors="*{nickname}">error!</span>
                </div>

                <div class="">
                    <span>이메일</span>
                    <input type="email" placeholder="이메일을 입력해 주세요." th:field="*{email}" th:errorclass="field-error">
                    <span th:errors="*{email}">error!</span>
                </div>

                <div class="">
                    <button>회원가입</button>
                    <a href="/">
                        <button type="button">취소</button>
                    </a>
                </div>

            </form>
        </div>
    </div>
</div>
</body>
</html>