<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
<body>
<div layout:fragment="contents">
    <div class="">
        <div class="flex flex-col">
            <h1 class="flex justify-center text-xl mt-10 font-bold">YBLOG</h1>
            <div class="flex justify-center mt-7">
                <form th:action="@{~/members/doLogin}" method="post" class="member-bg border-2 rounded-md p-10 shadow-lg">

                    <h1 class="flex text-xl mt-2 mb-2 justify-center">로그인</h1>

                    <div class="flex flex-col mb-2">
                        <span>아이디</span>
                        <input class="border border-2 rounded-md p-2" type="text" name="loginId" required autocomplete="off" placeholder="아이디를 입력해 주세요.">
                    </div>

                    <div class="flex flex-col mb-2">
                        <span>비밀번호</span>
                        <input class="border border-2 rounded-md p-2" type="password" name="loginPw" required autocomplete="off" placeholder="비밀번호를 입력해 주세요.">
                    </div>

                    <div class="flex justify-center mt-6">
                        <button class="btn btn-ghost">로그인</button>
                        <a href="">
                            <button type="button" class="btn btn-ghost mx-2">비밀번호 찾기</button>
                        </a>
                        <a href="/">
                            <button type="button" class="btn btn-ghost mx-2">취소</button>
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>