<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/layout}">
<head>
  <meta charset="UTF-8">
  <title>회원정보 수정</title>
</head>
<body>
<div layout:fragment="contents">

  <div class="">
    <div class="flex flex-col">

      <h1 class="flex justify-center text-xl mt-10 font-bold">YBLOG</h1>

      <div class="flex justify-center mt-7">
        <form th:action="@{~/members/modify/} + ${loginId}" th:object="${memberModifyForm}" method="post" class="member-bg border-2 rounded-md p-10 shadow-lg">

          <h1 class="flex text-xl mt-2 mb-2 justify-center">회원 정보 수정</h1>

          <div class="flex flex-col mb-2">
            <span>아이디</span>
            <input class="border border-2 rounded-md p-2" type="text" name="loginId" th:field="*{loginId}" readonly>
          </div>

          <div class="flex flex-col mb-2">
            <span><b class="text-red-600">* </b>비밀번호</span>
            <input class="border border-2 rounded-md p-2" type="password" name="loginPw" th:field="*{loginPw}" th:errorclass="field-error" placeholder="수정할 비밀번호">
            <span th:errors="*{loginPw}"></span>
          </div>

          <div class="flex flex-col mb-2">
            <span>이름</span>
            <input class="border border-2 rounded-md p-2"  type="text" name="name" th:field="*{name}" readonly>
          </div>

          <div class="flex flex-col mb-2">
            <span><b class="text-red-600">* </b>닉네임</span>
            <input class="border border-2 rounded-md p-2" type="text" name="nickname" th:field="*{nickname}" th:errorclass="field-error">
            <span th:errors="*{nickname}"></span>
          </div>

          <div class="flex flex-col mb-2">
            <span><b class="text-red-600">* </b>이메일</span>
            <input class="border border-2 rounded-md p-2" type="email" name="email" th:field="*{email}" th:errorclass="field-error">
            <span th:errors="*{email}"></span>
          </div>

          <div class="flex justify-center mt-6">
            <button class="btn btn-ghost">수정</button>
            <a href="/">
              <button class="btn btn-ghost" type="button">취소</button>
            </a>
          </div>

        </form>
      </div>


    </div>
  </div>

</div>
</body>
</html>